<h1> Lists for <%= params[:seedurl] %></h1>

<br>
<table>

<% @uris.each do |uri| %>
<tr>
<td>
    <%= uri %> 
</td>
<td>
     <%= link_to "Statements",  statements_path(rdf_uri: uri) %> | 
     Batch job: 
    <%= link_to "add list of webpages",  add_webpages_batch_jobs_path(rdf_uri: uri) %> 
 </td>
 </tr>  
   
<% end %>
</table>