<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @jsonld_output.name %>
</p>


<%= link_to 'Edit', edit_jsonld_output_path(@jsonld_output) %> |
<%= link_to 'Back', jsonld_outputs_path %>
