<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @object_class.name %>
</p>

<%= link_to 'Edit', edit_object_class_path(@object_class) %> |
<%= link_to 'Back', object_classes_path %>
