<h1> Website dump </h1>

Site: <%= @site %> 
<br> <br>
Publishable events <%= @publishable.count  %>
<br> <br> 
Sample URI:
<%=  debug @publishable.first  %>
<br>

Graph: <%=  debug JSON.parse(@dump) %>