---
http_interactions:
- request:
    method: post
    uri: http://db.artsdata.ca/repositories/artsdata
    body:
      encoding: UTF-8
      string: query=SELECT%20%3Fpred%20%3Fobj%20where%20%7B%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Chttp%3A%2F%2Fnon-existant%3E%20%3Fa%20%3Fb%20%20%20.%20%20%20%20%20%20%20%20%20%20%20%20%20%3Fb%20%20a%20%20%3Chttp%3A%2F%2Fschema.org%2FPostalAddress%3E%20.%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Fb%20%20%3Fpred%20%3Fobj%20.%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/sparql-results+json;charset=UTF-8
      Content-Disposition:
      - attachment; filename=query-result.srj
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        {
          "head" : {
            "vars" : [
              "pred",
              "obj"
            ]
          },
          "results" : {
            "bindings" : [ ]
          }
        }
  recorded_at: Wed, 24 Nov 2021 15:20:05 GMT
recorded_with: VCR 3.0.3
