// Place all the styles related to the Sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.source-form-cards .source-algorithm-card,
.source-form-cards .source-diagnostics-card {
  grid-column: 1 / -1;
}

.source-form-cards .source-algorithm-card textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
