// Place all the styles related to the Statements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Hide the form's default margin/padding */
form.inline {
  display: inline;
}

.as-link {
  background: none;
  border: none;
  color: #0645ad;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
  font: inherit;
}
.as-link:hover {
  color: #0b0080;
  text-decoration: underline;
}