<p id="notice"><%= notice %></p>

<h1> <%=  @page_title %> </h1>
<table>
<% @statements.each do |s| %>

<tr>
<td><%# <%= link_to @event_titles[d[0]], statements_path(rdf_uri: d[0]) %></td>
<td><%= sanitize(s['cache']) %></td>

</tr>


<% end %>
</table>
